.inquiry {
  padding: 0 10%;
  min-height: 93vh;
}

header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 930px) {
  header {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
header > h1 {
  margin-left: 0;
  margin-right: auto;
  color: white;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
@media screen and (max-width: 930px) {
  header > h1 {
    margin-left: auto;
  }
}
@media screen and (max-width: 450px) {
  header > h1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 430px) {
  header > h1 {
    font-size: 22px;
  }
}
header > div {
  margin-right: 0;
  margin-left: auto;
}
@media screen and (max-width: 930px) {
  header > div {
    margin-right: auto;
  }
}

.content {
  margin-top: 30px;
  text-align: center;
  background-color: lightgrey;
  padding: 15px;
  height: 70vh;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}
.content:hover {
  box-shadow: 0px 0px 15px black;
}
.content > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
}
@media screen and (max-width: 550px) {
  .content > div h3 {
    font-size: 17px;
  }
}
@media screen and (max-width: 500px) {
  .content > div h3 {
    font-size: 15px;
  }
}
.content > h4 {
  margin-top: 30px;
}
@media screen and (max-width: 500px) {
  .content > h4 {
    font-size: 15px;
  }
}
.content > p {
  margin-top: 30px;
  font-size: 19px;
  font-weight: 600;
}
@media screen and (max-width: 500px) {
  .content > p {
    font-size: 15px;
  }
}
.content > p:after {
  content: "\a";
  white-space: pre;
}

.resolved {
  color: green;
}

.unresolved {
  color: red;
}
