@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
* {
  margin: 0px auto;
  padding: 0px;
}

body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
  background: linear-gradient(132deg, #41b1fc, #3a50b2, #24309f);
  background-size: 400% 400%;
  overflow-x: hidden;
  animation: Gradient 10s ease infinite;
  position: relative;
  width: 100%;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}
.site-wrapper {
  min-height: 100vh;
  margin-bottom: -30px;
}

footer {
  text-align: center;
  color: white;
  height: 30px;
  padding-bottom: 10px;
}

.error {
  font-weight: bold;
  color: red;
}
