<form id="inquiry">
    <div>
        <input name="name" placeholder="Name">
        <span></span>
    </div>
    <div>
        <input name="email" placeholder="Email">
        <span></span>
    </div>
    <div>
        <select name="inquiryType">
            <option selected disabled>Please Select</option>
            <option value="Question">Question</option>
            <option value="Project">Project</option>
            <option value="Hire">Hire</option>
        </select>
        <span></span>
    </div>
    <div>
        <textarea name="details" rows="5" cols="35" placeholder="Please type here..."></textarea>
        <span></span>
    </div>
    <button type="submit">Submit</button>
</form>
