@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

@section Styles {
    <link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
}

<div class="error-container">
    <div class="error-title">
        <h1 >ERROR</h1>
    </div>    
    <div class="error-image">
        <img class="img-fluid" src="~/images/Lost-Meme.jpg" alt="I am lost" />
    </div>
    <h4 class="error-subheader">Redirecting...</h4>
    <div class="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
