@model LoginModel

@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/user/login@(Minified()).css" asp-append-version="true" />
}

<header>
    <h1>Login</h1>
</header>
<form asp-controller="User" asp-action="Login" method="POST">
    @if (TempData["Error"] != null)
    {
        <div class="main-error error">
            @TempData["Error"]
        </div>
    }    
    <div>
        <label asp-for="Email" class="form-label"></label>
        <span asp-validation-for="Email" class="error"></span>
        <input asp-for="Email" class="form-control">
    </div>
    <div>
        <label asp-for="Password" class="form-label"></label>
        <span asp-validation-for="Password" class="error"></span>
        <input asp-for="Password" class="form-control">
    </div>
    <div>
        <button type="submit" class="submit-button">Login</button>
    </div>
</form>
<div class="back">
    <a asp-controller="Portfolio" asp-action="Home" class="submit-button return">Got lost? Let's go home!</a>
</div>